<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!--
          Note that we cannot use two structural directives on the same element. So, for the <li> below, we cannot use
          *ngFor to iterate through the numbers and then use *ngIf to check for an odd number. It is possible to use
          pipes to filter an array.

          A solution, demonstrated here, is to wrap the <li> elements inside of a <div> where the <div> holds the *ngIf.
          This requires us to create two arrays in the .ts file.
        -->
        <div *ngIf="onlyOdd">
          <!--
            Recall, the square brackets around ngClass indicate we are binding to a property of the ngClass directive
            (which also happens to be named ngClass). Similarly, the ngStyle directive has a property with the name
            ngStyle that we bind to.

            The modulus checks in ngClass and ngStyle are redundant here, since we know we are dealing with odd numbers.
            They are included for illustrative purposes.
          -->
          <li
            *ngFor="let oddNumber of oddNumbers"
            class="list-group-item"
            [ngClass]="{
              odd: oddNumber % 2 !== 0
            }"
            [ngStyle]="{
              backgroundColor: oddNumber % 2 !== 0 ? 'yellow' : 'transparent'
            }">
            {{ oddNumber }}
          </li>
        </div>
        <!--
          The * character is needed for Angular to know that the directive being specified is a structural directive.
          Using the * is basically a nicer way for us to use structural directives. Behind the scenes, Angular will
          transform these directives into something else, because there is no * in Angualr's syntax when using other
          directives, or property binding, etc.. There is only property binding, event binding, two-way binding, and
          string interpolation.

          So, behind the scenes, Angular needs to transform this * into something where we end up with these tools
          (property binding, etc.).

          We conditionally show the odd numbers above using *ngIf.

          However, we can do this differently using ng-template.

          Inside of ng-template, we have the content we conditionally want to render.

          ng-template is not something that is always rendered. It allows us to define a template for Angular to use
          once it determines that this template needs to be rendered.

          So, we place an ngIf without the star and use property binding with ngIf and we can see what the * is
          transformed into:
        -->
        <ng-template [ngIf]="onlyOdd">
          <div>
            <li
              *ngFor="let oddNumber of oddNumbers"
              class="list-group-item"
              [ngClass]="{
                odd: oddNumber % 2 !== 0
              }"
              [ngStyle]="{
                backgroundColor: oddNumber % 2 !== 0 ? 'yellow' : 'transparent'
              }">
              {{ oddNumber }}
            </li>
          </div>
        </ng-template>
        <!--
          Use the 'unless' directive here.
        -->
        <div *appUnless="onlyOdd">
          <li
            *ngFor="let evenNumber of evenNumbers"
            class="list-group-item"
            [ngClass]="{
              odd: evenNumber % 2 !== 0
            }"
            [ngStyle]="{
              backgroundColor: evenNumber % 2 !== 0 ? 'yellow' : 'transparent'
            }">
            {{ evenNumber }} (unless directive)
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <!--
            The usage of [ngClass] and [ngStyle] are redundant here, since we know we are dealing with even numbers, but
            they are used for illustrative purposes.
          -->
          <li
            *ngFor="let evenNumber of evenNumbers"
            class="list-group-item"
            [ngClass]="{
              odd: evenNumber % 2 !== 0
            }"
            [ngStyle]="{
              backgroundColor: evenNumber % 2 !== 0 ? 'yellow' : 'transparent'
            }">
            {{ evenNumber }}
          </li>
        </div>
      </ul>
      <!--
        We do not use brackets because we are not binding to a property of the directive. We are simply using the
        directive. We specified that we use this directive like an HTML attribute by setting the selector like this:

        selector: '[appBasicHighlight]'

        The square brackets indicate to specify this directive like an HTML attribute, but we do not use square brackets
        when using the directive unless we are binding to a property of the directive (which can have the same name as
        the directive itself, covered later).
      -->
      <p appBasicHighlight>
        Styled with the basic-highlight directive.
      </p>
      <!--
        The property binding we use on our appBetterHighlight directive takes in a string. The values between the double
        quotations must be some typescript code that evaluates to a string, so we enclose the argument in single quotes.

        When we have property binding with a string, you have the option to omit the square brackets and single
        quotations. So, the defaultColor property binding below could be rewritten as:

          defaultColor="yellow"

        When you do this, it is less obvious that you are doing property binding, but it is an option. It should only be
        done if it is obvious that you are using property binding and not some HTML attribute.

        Angular is able to figure out that we want to bind to our directive, rather than some existing HTML attribute.

        Recall with ngClass and ngStyle, the directive itself is enclosed in square brackets. This is typical when you
        only have one property to bind (or one main property). This is accomplished by providing an alias in the desired
        @Input decorator inside of the directive that matches the name of the selector of the directive.

        Below, [appBetterHighlight]="'red'" establishes the use of the appBetterHighlight directive on the p element,
        and also assigns 'red' to the highlightColor property inside of the appBetterHighlight directive.

        [defaultColor] is a property of the appBetterHighlight directive that we bind 'yellow' to.
      -->
      <p
        [appBetterHighlight]="'red'"
        [defaultColor]="'yellow'">
        Styled with the better-highlight directive.
      </p>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
